{% extends "dashboard.html" %}

{% block content %}
<div class="home-section-title">
    <h3>Créer un Quizz</h3>
    <button class="btn btn-secondary"><a href="{% url 'creer-type-quizz' %}" >créer un type de quizz</a></button>
</div>

<div class="create-object">
    <form action="" method="post">
        {% csrf_token %}
        <div class="object-info">
            <label class="label-info" for="type_quizz">Type du quizz : </label>
            {{form.type_de_quizz}}
        </div>
        <div class="object-info">
            <label class="label-info" for="titre">Titre de la question : </label>
            {{form.titre}}
        </div>

        <div class="object-info">
            <label class="label-info" for="question">Question : </label>
            {{form.question}}
        </div>

        <div class="object-info">
            <label class="label-info" for="temps">Temps de secondes : </label>
            {{form.temps_en_secondes}}
        </div>

        <div class="object-info">
            <label class="label-info" for="reponses_possibles">Réponses possibles : </label>
            <div>
                <label for="a">A</label>
                {{form.op1}}
                <label  for="b">B</label>
                {{form.op2}}
                <label  for="c">C</label>
                {{form.op3}}
                <label  for="d">D</label>
                {{form.op4}}
            </div>
        </div>
        <div class="object-info">
            <label class="label-info" for="reponse">Réponse : </label>
            {{form.rep}}
        </div>

        <div class="object-info">
            <label class="label-info" for="points">Points si réponse juste : </label>
            {{form.points}}
        </div>

        <button class="btn btn-success" type="submit">Enregistrer le quizz</button>   
    </form>
</div>
<a href="{% url 'afficher-missions' %}">
    <button type="button" class="btn btn-dark">revenir</button>
</a>

{% endblock content %}