<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'joueur.css' %}">
    <!-- jquery -->
    
    <title>jeu entreprise</title>
</head>
<body>
    

    <header>
        <h1>Jeu gere</h1>
        <div class="user-info">
          Nom du joueur: <span id="player-name">{{joueur}}</span> <br>
          Points gagnés: <span id="player-points">{{joueur.points}}</span>

        </div>
        <div style="float: right;"><a href="{% url 'logout' %}">logout</a></div>
    </header>

    {% block content %}

    {% endblock %}


    {% block scripts %}

    {% endblock scripts %}
</body>
</html>