{% extends "missions.html" %}



{% block content %}


<style>
    .listings{
        text-align: center;
    margin: 10px;
    }
    .listings button{
        margin: 10px;
    }
</style>
<form action="" method="post">
    {% csrf_token %}
    <p>{{mission.enonce|linebreaks}}</p>
    
    <br> 
    <label for="reponse"><b>Réponse</b></label>
    <input type="text" name="reponse" style="width: 250px; height: 20px; margin: 20px;">
    <button type="submit"  class="submit-btn">Valider</button>
</form>
<div class="listings">
    <a href="/listing/fournisseurs"><button class="btn btn-dark">Voir listing fournisseurs</button></a>
    <a href="/listing/clients"><button class="btn btn-dark">Voir listing clients</button> </a>
    <a href="/listing/produits"><button class="btn btn-dark">Voir listing produits</button> </a>
</div>
{% endblock %}
