{% extends "home.html" %}



{% block content %}


<div style="float: right;">
    <div>
        <p>temps restant:</p>
        <div id="temps"></div>
    </div>
    <div>
        <p>nombre de points de la mission:</p>
        <div id="nb-points">{{nbre_points}}</div>
    </div>
</div>
<form action="" method="post">
    {% csrf_token %}
    <p>{{mission.enonce|linebreaks}}</p>
    
    <br> 
    <label for="reponse">reponse</label>
    <input type="text" name="reponse">
    <button type="submit">valider</button>
</form>

<a href="/listing/fournisseurs">voir listing fournisseurs</a>
<a href="/listing/clients">voir listing clients</a>
<a href="/listing/produits">voir listing produits</a>

{% endblock %}
