{% extends "missions.html" %}



{% block content %}



    <div class="question">
        {{mission.question}}
    </div>
    <form action="" method="post" class="answers">
        {% csrf_token %}
        <div>
            <input type="radio" id="op1" name="reponse" value="{{mission.op1}}">
            <label for="op1">{{mission.op1}}</label><br>
        </div>

        <div>
            <input type="radio" id="op2" name="reponse" value="{{mission.op2}}">
            <label for="op2">{{mission.op2}}</label><br>
        </div>

        <div>
            <input type="radio" id="op3" name="reponse" value="{{mission.op3}}">
            <label for="op3">{{mission.op3}}</label><br>
        </div>    

        <div>
            <input type="radio" id="op4" name="reponse" value="{{mission.op4}}">
            <label for="op4">{{mission.op4}}</label><br>
        </div>

        <br>  
        <button type="submit" class="submit-btn">Valider</button>
    </form>

{% endblock %}
