{% extends "dashboard.html" %}

{% block content %}
<div class="home-section-title">
    <h3>Gestion des joueurs</h3>
    <button type="button" class="btn btn-secondary"><a href="{% url 'creer-joueur' %}">créer un joueur</a></button>
</div>

<div class="table-div">
    <h3>liste des joueurs</h3>
    <table>
        <tr>
            <th>Joueurs</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
        
        {% for user in form %}
            {% if not user.is_superuser %}
            <tr>
                <td>{{user}}</td>
                <td><a href="{% url 'modifier-joueur' user %}"><i class="bi bi-pencil-square"></i></a></td>
                <td><a href="{% url 'supprimer-joueur' user %}"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<div class="retour">
    <button type="button" class="btn btn-dark">
        <a href="/">
            <i class="bi bi-arrow-left"></i>
            <span>Retour</span> 
        </a>
    </button>
</div>

<style>
    
</style>
{% endblock content %}