{% extends "dashboard.html" %}

{% block content %}

<h3>Liste des fournisseurs</h3>

<a href="{% url 'creer-fournisseur'%}">créer fournisseur</a>

<table>
    <tr>
        {% for label in labels %}
            <th>{{label}}</th>
        {% endfor %}
        <th>modifier</th>
        <th>supprimer</th>
    </tr>
    
    {% for fournisseur in fournisseurs %}
        <tr>
            {% for value in fournisseur.get_values %}
                <td>{{value}}</td>
            {% endfor %}
            <td><a href="{% url 'modifier-fournisseur' fournisseur %}">modifier</a></td>
            <td><a href="{% url 'supprimer-fournisseur' fournisseur %}">supprimer</a></td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'parametrage-gc' %}">Retour aux Paramètres</a>

{% endblock content %}